In [3]:
my_string = "1234"
print("The length of the string is:", len(my_string))

The length of the string is: 4

In [6]:
my_string = "pineapple"
"apple" in my_string

True

In [7]:
name = 'Manuel'
number = 3
print('Hello {}, your lucky number is {}.'.format(name,number))

Hello Manuel, your lucky number is 3.

In [8]:
name = 'Manuel'
number = 3
print('Hello {name}, your lucky number is {num}.'.format(num=number, name=name))

Hello Manuel, your lucky number is 3.

In [10]:
price = 7.75
with_tax = price * 1.07
print('Base price: ${} USD. \nWith tax: ${} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.2925 USD.

In [11]:
price = 7.75
with_tax = price * 1.07
print('Base price: ${:.2f} USD. \nWith tax: ${:.2f} USD.'.format(price, with_tax))

Base price: $7.75 USD.
With tax: $8.29 USD.

In [18]:
def to_celsius(x):
    return(x-32)* 5/9
for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

    # :>3 aligns the output three spaces to the right
    # :>6 aligns the output six spaces to the right

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [3]:
x = 'values'
y = 100

print('''String formatting lets you insert {} into strings.
They can even be numbers, like {}.'''.format(x, y))

#Enclosing your string in triple quotes lets you break the string over multiple lines.

String formatting lets you insert values into strings.
They can even be numbers, like 100.

In [4]:
var_a = 'A'
var_b = 'B'
print('{a}, {b}'.format(b=var_b, a=var_a))

A, B

In [5]:
# You can also include the arguments’ index numbers within the braces to indicate which arguments get inserted in specific spots:

var_a = 'A'
var_b = 'B'
print('{1}, {0}'.format(var_a, var_b))
print('{0}, {1}'.format(var_a, var_b))

B, A
A, B

In [7]:
#You can have as many arguments as you want:
print('{}, {}, {}, {}, {}, {} ...'.format(1, 2, 3, 4, 5, 6))

1, 2, 3, 4, 5, 6 ...

In [8]:
#And you can repeat arguments’ indices:

print('{0}{1}{0}'.format('abra', 'cad'))

abracadabra

Literal string interpolation (f-strings)
Another string formatting technique that you’ll often encounter when using Python version 3.6+ is literal string interpolation, also known as f-strings. F-strings further minimize the syntax required to embed expressions into strings. They’re called f-strings because the expressions always begin with f (or F—they’re the same).

In [18]:
var_a = 1
var_b = 2
print(f'{var_a} + {var_b}')
print(f"{var_a + var_b}")
print(f"var_a = {var_a:>6.2f} \nvar_b = {var_b:>6.2f}")

num = 1000.987123
f'{num:.2f}'

1 + 2
3
var_a =   1.00
var_b =   2.00

'1000.99'

In [19]:
num = 1000.987123
print(f'{num:.3e}')

decimal = 0.2497856
print(f'{decimal:.4%}')

1.001e+03
24.9786%

String methods
As one of the primary object classes in Python, strings have many built-in methods designed to facilitate working with them. There are too many of these methods to cover all of them here in depth, but some of the most useful include:

str.count(sub[, start[, end]])

Return the number of non-overlapping occurrences of substring sub in the range [start , end].

returns 0 without error if it doesnt find the substring

In [20]:
my_string = 'Happy birthday'

print(my_string.count('y'))
print(my_string.count('y', 2, 7))

2
1

str.find(sub)
Return the lowest index in the string where substring sub is found.
Return -1 if sub is not found.

In [23]:
my_string = 'Happy birthday'

print(my_string.find('borth'))
print(my_string.find('birth'))

-1
6

str.join()
Return a string which is the concatenation of the strings in iterable. The separator between elements is the string providing this method.

In [24]:
separator_string = '-'
iterable_of_strings = ['Happy', 'birthday', 'to', 'you']

separator_string.join(iterable_of_strings)

'Happy-birthday-to-you'

str.partition(sep)
Split the string at the first occurrence of sep , and return a 3-tuple containing the part before the separator, the separator itself, and the part after the separator. If the separator is not found, return a 3-tuple containing the string itself, followed by two empty strings.

In [32]:
my_string = 'https://www.google.com/'

my_tuple = my_string.partition('.')

print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])

https://www
.
google.com/

str.replace(old, new[, count])
Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced.

In [34]:
my_string = 'https://www.google.com/'

my_string.replace('google', 'youtube')

my_string2 = 'lalalalalalalalalalalalala'

my_string2.replace('la','PAM',3

'PAMPAMPAMlalalalalalalalalala'

Return a list of the words in the string, using sep (optional) as the delimiter string. If no sep is given, whitespace characters are used as the delimiter. Any number of consecutive whitespaces would indicate a split point, so ' ' (a single whitespace) would split the same way as '   ' (two or more whitespaces).

In [ ]:
my_string = 'Do you know the muffin man?'

my_string.split()

Note that some of these methods have additional optional parameters. This reading covers only the most rudimentary ones. Reference the full 
string methods documentation
 for more information on these functions and other methods not included here.
https://docs.python.org/2/library/stdtypes.html#string-methods

In [ ]:
import re

pattern = 'regex_pattern'

match = re.search(pattern, string)

In [36]:
import re

my_string = 'Three sad tigers swallowed wheat in a wheat field'

re.search('wall', my_string)

In [37]:
import re

my_string = 'Three sad tigers swallowed wheat in a wheat field'

re.search('[bms]ad', my_string)