In [1]:
list_a =['olive', 'palm', 'coconut']
print(list_a)

['olive', 'palm', 'coconut']

In [2]:
list_b = [8,6,7,5,6,4,8]
print(list_b)

[8, 6, 7, 5, 6, 4, 8]

In [3]:
#List of mixed data types
list_c = ['Abidjan', 14.2, [1,2,None], 'Zagreb']
print(list_c)

['Abidjan', 14.2, [1, 2, None], 'Zagreb']

To create an empty list, use empty brackets or the list() function:

In [4]:
empty_list_1 = []
empty_list_2 = list()

Just as with srings, you can access elements in a list using indexing and slicing. The first element of a list has index zero, the second element has index one, and so on. Use square brackets to index:

In [5]:
phrase = ['Astra', 'inclinant', 'sed', 'non', 'obligant']
print(phrase[1])

inclinant

In [6]:
print(phrase[-1])

obligant

In [7]:
print(phrase[1:4])

['inclinant', 'sed', 'non']

In [8]:
print(phrase[:3])
print(phrase[3:])

['Astra', 'inclinant', 'sed']
['non', 'obligant']

In [9]:
# Zero base indexing for lists
my_list = ['Macduff', 'Malcolm', 'Duncan', 'Banquo']
my_list[2] = 'Macbeth'
print(my_list)

['Macduff', 'Malcolm', 'Macbeth', 'Banquo']

In [13]:
# Replacing a slice from a list 
my_list = ['Macduff', 'Malcolm', 'Macbeth', 'Banquo']
my_list[1:2] = [1, 2, 3, 4]
print(my_list)

['Macduff', 1, 2, 3, 4, 'Macbeth', 'Banquo']

In [14]:
# You can add lists with the plus operator
num_list = [1, 2, 3]
char_list = ['a', 'b', 'c']
num_list + char_list

[1, 2, 3, 'a', 'b', 'c']

In [15]:
# Lists can also by multiplied!
list_a = ['a', 'b', 'c']
list_a * 2

['a', 'b', 'c', 'a', 'b', 'c']

You can check whether a value is contained in a list by using the in operator

In [18]:
num_list = [2,4,6]
print(5 in num_list)
print (5 not in num_list)

False
True

List Methods Append

In [21]:
my_list = [0,1,2,3]
variable = 5
my_list.append(variable)
print(my_list)

[0, 1, 2, 3, 5]

insert an elemnt at a give position

In [24]:
my_list = ['a', 'b', 'd']
my_list.insert(2,'c')
print(my_list)

['a', 'b', 'c', 'd']

In [ ]:
# remove() removes the first occurence of an item

my_list = ['a','a','b']

In [ ]:
# remove() removes the first occurence of an item

my_list = ['a','a','b']