In [1]:
#Create a set using curly braces, they look similar to dictionaries but are different

my_set = {5,10,10,20}

In [2]:
# instantiating a set

example_a =[1, 2, 2.0, '2']
set(example_a)

{1, 2, '2'}

In [6]:
example_b = ('apple',(1,2,2,2,3),2)
set(example_b)

{(1, 2, 2, 2, 3), 2, 'apple'}

In [7]:
example_c = [1.5, {'a', 'b', 'c'}, 1.5]
set(example_c)

TypeError: unhashable type: 'set'

In [ ]:
The preceding example throws an error because each element of a set must be hashable (≈ immutable), but {‘a’, ‘b’, ‘c’} is a set, which is a mutable (unhashable) object.

The following example demonstrates the add() method, which is a mutable (unhashable) object

In [8]:
# add() method, which is one of the special methods available to sets but not to frozensets

example_d = {'mother', 'hamster', 'father'}
example_d.add('elderberries')
example_d

{'elderberries', 'father', 'hamster', 'mother'}

In [9]:
# Creating a regular set
my_set = {1, 2, 3, 4, 5}
print("Regular set:", my_set)

# Creating a frozen set
my_frozenset = frozenset(my_set)
print("Frozen set:", my_frozenset)

# Attempting to add an element to the frozen set (this will raise an error)
try:
    my_frozenset.add(6)
except AttributeError as e:
    print("Error:", e)

Regular set: {1, 2, 3, 4, 5}
Frozen set: frozenset({1, 2, 3, 4, 5})
Error: 'frozenset' object has no attribute 'add'

Frozensets are another type of set in Python. They are their own class, and they are very similar to sets, except they are immutable.

This is an immutable data type.

It can be applied to any iterable object and will remove duplicate elements from it.

Because they’re immutable, frozensets can be used as dictionary keys and as elements in other sets.

In this example, a frozenset is used within a set.

In [10]:
example_e = [1.5, frozenset(['a', 'b', 'c']), 1.5]
set(example_e)

{1.5, frozenset({'a', 'b', 'c'})}

In [11]:
# union() returns a new set with elements from the set and all others
# the operator for union is the pipe (|)
set_1 = {'a', 'b', 'c', 'd'}
set_2 = {'b', 'c', 'd'}
print (set_1.union(set_2))
print(set_1 | set_2)

{'c', 'a', 'b', 'd'}
{'c', 'a', 'b', 'd'}

In [12]:
# Intersection returns a new set with elements common to the sets

set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

print(set_1.intersection(set_2))
print(set_1 & set_2)

{'b', 'c'}
{'b', 'c'}

In [14]:
# difference() returns a new set with elements in the set that are not in the others

set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd','e'}

print(set_1.difference(set_2))
print(set_1 - set_2)

{'a'}
{'a'}

In [16]:
# Symmetric difference returs a new set with elements in either the set or the other, but not both

set_1 = {'a', 'b', 'c'}
set_2 = {'b', 'c', 'd'}

print(set_1.symmetric_difference(set_2))
print(set_1 ^ set_2)

{'a', 'd'}
{'a', 'd'}